<strong>Hello, {{ fugleman }} </strong>
<p>You have a new subscriber in {{ meet }}, check details below: </p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
</p>
